/* admin_dashboard.css */

body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    background-color: #f8f9fa;
    margin: 0px 100px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #007bff;
}

a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    margin-top: 20px;
    color: #007bff;
}

table {
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #ffffff;
}

td a {
    color: #007bff;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}



form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form button {
    background-color: #28a745;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}


.table_container {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    height: 300px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}